{{> head }}

{{> navbar }}


<div class="row">
    <div class="col-8">
        <h1>Capitán América</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, explicabo quo. Officiis molestias architecto magni adipisci expedita veritatis sunt commodi cupiditate, eaque, natus exercitationem? Saepe quos repellat ullam odio ut.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/Captura.PNG" class="img-thumbnail">
    </div>
</div>


{{> footer }}